@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.primary');
  background-image: url('../../public/papel-digital-circo-aquarela-14-scaled.jpg');
  background-repeat: repeat-y;
}